@charset "utf-8";

body {
  font-family: 'Lato';
}

.font_raleway {
  font-family: 'Raleway';
}

.inner {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}

/* header */
.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top : 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon_color {
  color: #808080
}

.header_button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color 0.3s linear;
}

.header_button:hover {
  color: #333;
}

/* main */
.main {
  width: 100%;
  padding-top: 78px;
}

/* theme */
.bolt_theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.main_theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.sub_theme {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* section */
.whatWeCanDo {
  background-color: #74cfae;
  padding-top: 50px; 
  padding-bottom: 0; 
}

.inner_whatWeCanDo {
  display: flex;
}

.iphone_image {
  width: 208px;
  margin-left: 100px;
}

.whatWeCanDo_contents {
  margin-left: 130px;
  vertical-align: top;
  width: 100%;
}

.whatWeCanDo_theme {
  color: #fff;
  font-size: 24px;
}

.whatWeCanDo_text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  margin-top: 35px;
  text-align: center;
}

/* article */
.ourLatestWork {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.ourLatestWork_theme {
  color: #333;
  font-size: 24px;
}

.ourLatestWork_images {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.ourLatestWork_image {
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: opacity 0.3s linear;
  list-style-type: none;
}

.ourLatestWork_image:hover {
  opacity: 1;
}

.ourLatestWork_image:nth-child(-n+1),
.ourLatestWork_image:nth-child(3n+1) {
  margin-left: 0;
}

.ourLatestWork_image:nth-child(-n+3) {
  margin-top: 0;
}

.ourLatestWork_contents {
  font-size: 0;
  margin-top: 90px;
}

.ourLatestWork_text {
  color: #333;
  display: inline-block;
  font-size: 20px;
  width: 580px;
}

.ourLatestWork_button {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s linear;
  vertical-align: top;
}

.ourLatestWork_button:hover {
  color: #333;
}

/* ourSkills */
.ourSkills {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
}

.ourSkills_theme {
  color: #fff;
  font-size: 24px;
}

.ourSkills_images {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.ourSkills_contents {
  margin-top: 50px;
  margin-left: 180px;
}

.ourSkills_contents:first-child {
  margin-left: 0;
}

.ourSkills_text {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

/* nav */
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}


.sns_buttons {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.sns_button {
  transition: background-color 0.3s linear;
  width: 185px;
}

.sns_button:hover {
  background-color: #fff;
}

.sns_icon {
  box-sizing: border-box;
  color: #74cfae;
  display: block;
  padding: 25px;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 25px;
}

.inner_footer {
  text-align: right;
}

.footer_text {
  color: #fff;
}